div {
    border: 3px solid red;
    width: 154px;
    height: 54px;
    margin: 20px;
    padding: 20px;
}
/* o que for colocado no padding tem que ser diminuído no width e no height */

h1 {border: 6px dashed purple;
width: 300px;
padding: 10px;
}