.map {
    width: 410px;
    height: 300px;
    /* border: 10px solid red; */
    border-radius: 5%;    
}
#nome { 
    width: 600px;
    height: 42px;
    border: 1px solid white;
    border-radius: 10px;
    /* background: #bfc0ca; */
    display: inline-block;
    padding: 5px;
    color: white;
    font-family: Poppins;
    background: transparent;
    outline: none;
}
#email { 
    width: 600px;
    height: 42px;
    border: 1px solid white;
    border-radius: 10px;
    /* background: #bfc0ca; */
    display: inline-block;
    padding: 5px;
    color: white;
    font-family: Poppins;
    background: transparent;
    outline: none;
}
.txt-2{
    width: 600px;
    height: 84px;
    border: 1px solid white;
    border-radius: 10px;
    /* background: #3B3D5D; */
    display: inline-block;
    padding: 5px;
    color: white;
    font-family: Poppins;
    background: transparent;
    resize: none;
    outline: none;
}
 button { 
    width: auto;
    height: 45px;
    border-radius: 10px;
    background: #3B3D5D;
    border: 1px solid white;
    float: right;
    color: white;
    text-align: center; 
    font-family: Poppins;
}
::placeholder {
    color: white;
}

