h1 {
    font-size: 45px;
}
p {
    font-size: 18px;
}
.polaroid {
    width: 70%;
    padding: 10px 10px 80px 10px;
    background: #FFFFFF;    
    transition: box-shadow 1s, transform 1s;
}
.polaroid:hover {
    transform:  rotate(10deg);
    box-shadow: 4px 4px 40px 4px rgb(2, 2, 112);
}