 /* comentário em CSS */

 body {
    background: rgba(145, 202, 236, 0.726);
}

h1 {
    color: white;
    background: cadetblue;
    font-family: Arial;
} 
p {
    color: rgb(15, 157, 175);
}  

h2 {
    color: #0F03FC;

}

/* seletor por id (#) */
#cidade {
    color: #0F03FC;
}

.destaque {
    background: #DEE5FF;
}
/* seletores por hierarquia facilita a formatação sem precisar de class ou id */
/* contra: fica fortemente vinculado ao HTML */
p a {
    color: rgb(23, 195, 218);
}